/* General */
.container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f4f8;
  color: #333;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "header"
      "main"
      "footer";
  height: 100vh; 
}

/* HEADER */
.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8e8e8;
  padding: 10px 20px;
  height: auto;
}

.head1{
align-items: center;

}
/* Logo */
.logo {
  width: 80px;
  height: auto;
}


/* MAIN */
.main {
  grid-area: main;
  background: #ffffff;
  width: 50%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: center;
}

.formButton {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  flex: 1;
  background-color: #7c8084;
  color: #fff;
}


/* FOOTER */
.footer {
  grid-area: footer;
  text-align: center;
  background-color: #f0f4f8;
  padding: 10px;
}

.footerText {
  color: #333;
}

.footerItalic {
  color: #777;
}


.filtro {
  margin: 10px 0;
  align-items: center;
}

