
.button {
margin: 5px;         
padding: 10px 20px;      
background-color: #5dc1b9;
color: white;      
border: none;           
border-radius: 5px;    
cursor: pointer;         
text-align: center;
}

.button:hover {
background-color: #4da8a0;  
}