


.input,
.textarea {

  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  resize: none;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }