.container {
  padding: 2rem;
  
}

.subastaInfo {
  margin-bottom: 1rem;
}


.comentario {
  margin-bottom: 1.2rem;
}

.botonComentario {
  margin-right: 1rem;
}

.formComentario {
  margin-top: 2rem;
}

.formComentario input,
.formComentario textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}


.inputs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.inputs input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
}