/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Asegura que el header, main y footer se distribuyan correctamente */
    grid-template-areas:
        "header"
        "main"
        "footer";
    height: 90%; /* Asegura que el body ocupe toda la altura de la ventana */
}

header {
    grid-area: header;
    text-align: center;
    background-color: #668eba; /* Color del rectángulo */
    color: white;
    padding: 0.5%;
}

main {
    grid-area: main;
    background: #ffffff;
    width: 50%;
    padding: 2%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto; /* Centra el main horizontalmente */
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: #f0f4f8;
    padding: 10px;
}

/* Header */
header h1 {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 123, 255, 0.4);
}

header h2 {
    font-size: 1.2rem;
    color: #555;
    margin: 0px 0 10px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 0.9rem;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="file"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: border-color 0.3s ease;
}

form input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.4);
}

/* Buttons */
form .botones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

form button {
    padding: 8px 15px;
    font-size: 0.9rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex: 1;
}

form button[type="button"] {
    background-color: #87898b;
    color: #fff;
}

form button[type="button"]:hover {
    background-color: #5a6268;
}

form button[type="submit"] {
    background-color: #668eba;
    color: #fff;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

form button:active {
    transform: scale(0.98);
}

footer b {
    color: #333;
}

footer i {
    color: #777;
}

.logo {
    position: absolute;
    top: 1.2%;
    left: 2%;
    width: 7%; 
    height: 9%;
}